<div class="whole-screen">
  <!-- <ng-container *ngIf="connected; else loading_screen"> -->
      <!-- Display MSG: 
      {{displayMsg}}
      <br>
      Service Device: 
      {{serviceDevice}}
      <br>
      Other info:
      {{otherInfo}} -->

      <!-- <div class="cloud1-cont">
        <img class="cloud" src="assets/cloud.svg" />
      </div>
      <div class="cloud2-cont">
        <img class="cloud" src="assets/cloud.svg" />
      </div> -->
      <!-- <svg #my_svg height="400" width="400"></svg> -->
      <button (click)="drawClouds()">Draw</button>

      <div class="cloud-1">
        <div class="bg-cloud"></div>
        <svg [attr.height]="cloudHeight" [attr.width]="cloudWidth">
          <!-- <circle cx="cc.coordX" cy="cc.coordY" r="cc.radius" stroke="black" stroke-width="3" fill="blue" /> -->
          <circle *ngFor="let cc of Cloud1; let i = index" 
          [attr.cx]="cc.coordX" 
          [attr.cy]="cc.coordY" 
          [attr.r]="cc.radius" 
          stroke="grey" 
          stroke-width="1" 
          [attr.fill]="determineColor(i)"
          (click)="changeColor(i)" />
        </svg>
      </div>

      <app-patterns></app-patterns>
    <!-- </ng-container>
    <ng-template #loading_screen>
        <div class="cloud variant-5"></div>
      </ng-template> -->
  

  
</div>








<!-- SVG Loading Clouds-->
<!-- <span class="loading-msg">Connecting to the Clouds</span> -->
<!-- <object class="loading-clouds" data="../../../assets//Cloud-6s-200x200px.svg" type="image/svg+xml">
  <img src="yourfallback.jpg" />
</object> -->

