<div class="whole-screen">
  <div @fadeInFadeOut class="colors-cont" *ngIf="isColorsVisible">
    <app-custom-patterns></app-custom-patterns>
  </div>
  <div class="top">
    <input class="interval-timer" type="text" [value]="intervalTimer" (change)="setIntervalTimer($event)" />
    <div class="cloud-row">
      <div class='cloud-sel' *ngFor="let cloud of clouds; let i = index">
        <img *ngIf="selCloudIdx != i" src="assets/cloud.svg" (tap)="setSelCloud(i)" /> 
        <img *ngIf="selCloudIdx == i" src="assets/cloud-sel.svg" (tap)="setSelCloud(i)" />  
      </div>
    </div>
    <button class="add-new-cloud" (click)="addCloud()">+</button>
  </div>
  <div class="middle">
    <div class="middle-inner" cdkDropListGroup>
      <div class="tick-marks">
        <div class="tick" *ngFor="let tick of ticks">
          -
        </div>
      </div>
      <div class="lanes" *ngFor="let cloud of clouds; let i = index">
        <app-jetsteam [cloudIdx]="i" [cloudID]="cloud.cloudID" [cloud]="cloud"></app-jetsteam>
      </div>
    </div>
  </div>
  <div class="bottom">
    <button class="btn-cloud" (click)="addBlock()">Add Block</button>
    <button class="btn-cloud" (click)="addFunc()">Add Func</button>
  </div>
</div>









<!-- SVG Loading Clouds-->
<!-- <span class="loading-msg">Connecting to the Clouds</span> -->
<!-- <object class="loading-clouds" data="../../../assets//Cloud-6s-200x200px.svg" type="image/svg+xml">
  <img src="yourfallback.jpg" />
</object> -->

