<div class="whole-screen">
  <!-- <app-patterns></app-patterns> -->
  <!-- <app-drag-box></app-drag-box> -->
  <div class="top">
    <div class='cloud-sel' *ngFor="let cloud of clouds; let i = index">
      <img src="assets/cloud.svg" (tap)="setSelCloud(i)" /> 
    </div>
  </div>
  <app-custom-patterns [curCloud]="selCloud"></app-custom-patterns>
</div>








<!-- SVG Loading Clouds-->
<!-- <span class="loading-msg">Connecting to the Clouds</span> -->
<!-- <object class="loading-clouds" data="../../../assets//Cloud-6s-200x200px.svg" type="image/svg+xml">
  <img src="yourfallback.jpg" />
</object> -->

