<!-- <div class="blocky" 
  [ngStyle]="style"
  [validateResize]="validate"
  [enableGhostResize]="true"
  [resizeSnapGrid]="{ bottom: 10, top: 50 }"
  (resizeEnd)="onResizeEnd($event)"
  (click)="emitShowColors(true)"
  mwlResizable>
  <div class="resize-handle-top"
    [resizeEdges]="{ top: true }" mwlResizeHandle>
  </div>
  <div class="resize-handle-bottom"
    [resizeEdges]="{ bottom: true }" mwlResizeHandle>
  </div>
</div> -->

<div class="blocky" (click)="emitShowColors(true)">
  <span>{{patBlock.name | slice:0:6}}</span>
  <span>{{patBlock.blockPatLet| slice:0:6}}</span>
  <span>{{patBlock.height}}</span>
</div>