<div *ngIf="isConnected; else notConnected">
    <img class="pulsarR" src="assets/signal.svg" 
    [ngStyle] = "{
    'bottom': getOneBottom(),
    'left': getOneLeft()
    }"/>
    <img class="pulsarL" src="assets/signal.svg" 
    [ngStyle] = "{
    'bottom': getThreeBottom(),
    'left': getThreeLeft()
    }"/>
</div>
<ng-template #notConnected>
    <img class="one" src="assets/lightning.svg" 
    [ngStyle] = "{
    'bottom': getOneBottom(),
    'left': getOneLeft()
    }" />
    <img class="two" src="assets/lightning.svg" 
    [ngStyle] = "{
    'bottom': getTwoBottom(),
    'left': getTwoLeft()
    }"/>
    <img class="three" src="assets/lightning.svg" 
    [ngStyle] = "{
    'bottom': getThreeBottom(),
    'left': getThreeLeft()
    }"/>
</ng-template>

<img class="antenna" src="assets/antenna.svg" 
[style.width]="getPowerWidth()" (press)="onPress($event)" (tap)="onTap($event)"/>