<div *ngIf="!(isShowSettings$ | async)">
<!-- <div>
  {{displayMessage}}
</div> -->

<div class="top-buttons"> 
  <button class='sel-btn' (click)="scan()">
    Scan
  </button> 
</div>
<div class="device-cont">
  <div class="device" *ngFor="let device of devices">
    <div class="top">
      <h3 class="name">{{ device.name || 'Unnamed' }}</h3>
      <div class="id">Device ID:<br/>&nbsp;&nbsp; {{ device.id }}</div>
      <div class="rssi">RSSI: {{device.rssi}}</div>
    </div>
    <div class="bottom">
      <button class='sel-btn' (click)="deviceSelected(device)">
        Select
      </button>  
    </div>
  </div>
</div>


<!-- Test Link: 
<button (click)="testDeviceSelected()">
    Select
  </button>   -->

</div>
