<div class="pattern-cont">
  <div class="patt-col">
      <div class="cloud-btn cloud-name cloud1">One</div>
      <div
        *ngFor="let cloud of buttons1; let i = index" 
        [ngClass]="computeClass(cloud)"
        (click)="selectThis(cloud, i, 1)" >
        {{cloud.pattern}}
      </div>
      <div class="cloud-interval"><input type="number" class="interval" [(ngModel)]="cloud1_interval"  (keyup)="changeInterval(1)" /></div>
    </div>
  <div class="patt-col">
      <div class="cloud-btn cloud-name cloud2">Two</div>
      <div
        *ngFor="let cloud of buttons2; let i = index" 
        [ngClass]="computeClass(cloud)"
        (click)="selectThis(cloud, i, 2)" >
        {{cloud.pattern}}
      </div>
      <div class="cloud-interval"><input type="number" class="interval" [(ngModel)]="cloud2_interval" (keyup)="changeInterval(2)" /></div>
    </div>
  <div class="patt-col">
    <div class="cloud-btn cloud-name cloud3">Three</div>
    <div
      *ngFor="let cloud of buttons3; let i = index" 
      [ngClass]="computeClass(cloud)"
      (click)="selectThis(cloud, i, 3)" >
      {{cloud.pattern}}
    </div>
    <div class="cloud-interval"><input type="number" class="interval" [(ngModel)]="cloud3_interval"  (keyup)="changeInterval(3)" /></div>
    <!-- {{cloud3_interval}} -->
  </div>
</div>