.bottom {
  display: flex;
  justify-content: center;

  color-sketch {
    width: 80%;
  }
}

.info-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  > div {
    width: 50%;
  }
  .btn-cont {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    button {
      border-radius: 5px;
    }
  }
}

.rule-section {
  display: flex;
  flex-flow: row wrap;

  > div {
    width: 25%; 
  }
  input {
    width: 50%;
  }
  button {
    margin-top: 20px;
  }
}