<div class="cont">
  <div class="middle">
    <div class="info-section">
      <div><input type="text" [value]="curBlock.name" (change)="onChangeBlockName($event)" /></div>
      <div class="btn-cont"><button class="btn back" (click)="hideColors()">Back</button></div>
    </div>
    <div class="rule-section">
      <div class="pat-num">
        <label>Block Pat Let</label>
        <input type="text" [value]="curBlock.blockPatLet" (change)="onChangeBlockPatLet($event)" />
      </div>
      <div class="len">
        <label>Height</label>
        <input type="number" [value]="curBlock.height" (change)="onChangeBlockHeight($event)"/>
      </div>
      <div class="bright">
          <label>Brightness</label>
          <input type="number" [value]="curBlock.brightness" (change)="onChangeBrightness($event)"/>
      </div>
      <div class="remove">
          <button class="btn del" (click)="removeBlock()">Remove</button>
      </div>
    </div>
    <app-state-circle (onPixelSelect)="onPixelSelect($event)" [colors]="colors"></app-state-circle>
  </div>
  <div class="bottom">
      <color-sketch (onChangeComplete)="onColorChange($event)"></color-sketch>
  </div>
</div>

      
      


<!-- <color-sketch
  color="#fff"
  (onChangeComplete)="handleChangeComplete($event)"
></color-sketch> -->

