main {
  height: 100%;
  // position: absolute;
}

.home-panorama {
  position: absolute;
  z-index: 500; // panorama on bottom
  height: 100%;
  width: 100%;
}
.selectable-elem {
  z-index: 502; // between home and windows
}
.window-section {
  position: absolute;
  z-index: 503; // windows above home and selectable elems
  height: 85%;
  width: 100%;
}


.tent-cont {
  position: absolute;
  bottom: 54%;
  right: 0%;
  // z-index: 500000;
  width: 65px;
  cursor: pointer;
}

// SKY
body {
  overflow-x:hidden;
}
.sky {
  background:linear-gradient(rgb(133,165,204) 0, rgb(208,228,242) 100%);
  box-shadow:0 0 20px rgb(208,228,242);
  height: 42%;
  overflow: hidden;
  position: absolute;
  width:100%;
}

.ground {
  background:linear-gradient(rgb(110,158,3) 0, rgb(79,115,2) 100%);
  height: 57%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;  
}





