<ion-content class="padding">
  <div *ngIf="debugMode">{{debugMsg}}</div>
  <div *ngIf="isWindowOpen" class="window-section">
    <main [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>
  <div class="home-panorama">
    <!-- {{displayMessage}} -->
    <div app-home-flowers></div>
    <div class="ground">
      <div app-home-mountains></div>
      <div app-home-house></div>
      <!-- <div app-home-power></div> -->
      <button class="tmp-btn" (tap)="scan(true)">{{isConnected}}</button>
      <button class="btn-reset" (tap)="resetColors()">Begin</button>
    </div>
    <div class="sky">
      <div app-home-clouds></div>
      <div app-home-sun-moon class="selectable-elem" (brightness)="changeBrightness($event)"></div>
    </div>
  </div>
</ion-content>
